<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght@24..48,400..700"
    />
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 flex justify-center py-5">
      <div class="container text-white py-5">
        <nav class="p-2 flex justify-between mb-5 items-center">
          <div class="logo text-[18px] tracking-[5px]">
            <a href="/homepage">ThinkDiary</a>
          </div>
          <div class="user-handle flex gap-4 items-center">
            <a
              href="/logout"
              class="border-1 bg-red-500 rounded-md px-5 py-2 mt-4 block text-sm hover:bg-red-600 duration hover:duration-300 cursor-pointer"
              >Logout</a
            >
          </div>
        </nav>
        <h1 class="text-white text-2xl">
          <span class="font-light">Edit profile photo</span>
        </h1>
        <form
          action="/upload"
          method="post"
          class="mt-[30px] flex justify-center gap-2 items-start flex-col"
          enctype="multipart/form-data"
        >
          <input type="file" name="dp" />
          <input
            type="submit"
            value="Upload File"
            class="border-1 bg-blue-500 rounded-md px-5 py-2 mt-4 block text-sm cursor-pointer"
          />
        </form>
      </div>
    </div>
  </body>
</html>
